doctype html 
html 
  head 
    title Include in Pug 
  body 
    // Include is useful when you have multiple html files that share common components such as footer of navbar
    include ../shared/nav
